@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
:root {
  --font-lato: 'Lato', serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-lora: 'Lora', serif;
}

/* Global Styles */
body {
    font-family: var(--font-lato), sans-serif;
}

/* Additional Customizations if needed */
h1, h2, h3, h4 {
  font-family: var(--font-lato), serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
table, th, td {
  border: 1px solid black;
  padding: 3px;
}
body {
  background: white;
  color: var(--foreground);
}
/* semicircle mask */
.curved-image-wrapper {
  width: 260px;
  height: 410px;
  border-radius: 50% / 35%;
  overflow: hidden;
  position: relative;
  transition: 0.4s ease;
}
html {
  scroll-behavior: smooth;
}


/* ACTIVE SLIDE */
.swiper-slide-active .curved-image-wrapper {
  transform: scale(1.1);
  border: 4px solid #2f82ff;
  /* border-radius: 50% / 35%; */
}

/* LEFT SLIDE */
.swiper-slide-prev .curved-image-wrapper {
  transform: rotate(-8deg) scale(0.93);
  opacity: 0.85;
}

/* RIGHT SLIDE */
.swiper-slide-next .curved-image-wrapper {
  transform: rotate(8deg) scale(0.93);
  /* opacity: 0.85; */
}

/* Further side slides */
.swiper-slide {
  transition: 0.4s ease;
  /* opacity: 0.5; */
}


.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

/* Add 3D effect animation */
@keyframes titleAnimation {
  0% {
    transform: rotateY(0deg);
    opacity: 0.5;
  }
  50% {
    transform: rotateY(15deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(0deg);
    opacity: 0.5;
  }
}


